body{
	background-color: aliceblue;
}

table{
	margin: auto;
	border: 1px solid gray;
}

.visor{
	height: 50px;
}

.escrito{
	border: 1px solid gray;
	padding: 11px;
	margin: 0px;
	text-align: right;
	font-size: x-large;
}

button{
	width: 50px;
	height: 50px;
	font-size: large;
}