body{
	background-color: aliceblue;
}

table{
	margin: auto;
	padding: 8px;
	background-color: rgb(69, 69, 69);
}

.operador{
	border-radius: 100%;
	background-color:rgb(0, 184, 184);
}

.numero{
	border-radius: 100%;
	background-color:rgb(100, 100, 100);
}

.visor{
	height: 50px;
	max-width: 212px;
	border: 0px;
}

.limpar{
	background-color: rgb(32, 138, 18);
	color: rgb(255, 215, 114);
	border-radius: 100px;
}

.escrito{
	color: aliceblue;
	border: 1px solid gray;
	padding: 11px;
	margin: 0px;
	text-align: right;
	font-size: xx-large;
	height: 28px;
}

button{
	width: 50px;
	height: 50px;
	font-size: x-large;
	color: rgb(217, 226, 233);
	border: 0px;
}

button:hover {
    background-color: rgb(217, 226, 233);
    color: rgb(69, 69, 69);
    cursor: pointer;
}

.operador.ativo {
	background-color: rgb(217, 226, 233);
    color: rgb(69, 69, 69);
  }
